@page "/"

<div>
    Navigate: Home | <a href="/other">Other</a>
</div>

<h1>This is the count in the main app: @count</h1>
<button @onclick="Increment">Increment</button>
<button @onclick="Decrement">Decrement</button>

<MauiRazorClassLibrarySample.Component1 />

@inject IJSRuntime JSRuntime

@code {
    int count = 0;

    void Increment()
    {
        count++;
    }

    async Task Decrement()
    {
        if (await ConfirmDecrement())
        {
            count--;
        }
    }

    async Task<bool> ConfirmDecrement()
    {
        return await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to decrement?");
    }
}