<div class="dynamic-root-component" style="border: 1px dashed purple">
    <p>
        This is a Razor component.
    </p>
    <p>
        Click count: <strong class="click-count">@clicks</strong>
        (will increment in steps of <strong class="increment-amount-value">@IncrementAmount</strong>)
    </p>

    <button class="increment" @onclick="Increment">Increment</button>

</div>

@code {
    [Parameter] public int IncrementAmount { get; set; } = 7;

    int clicks;

    void Increment()
    {
        clicks += IncrementAmount;
    }
}
