@page "/other"

<div>
    Navigate: <a href="/">Home</a> | Other
</div>

<div>
    This is another page.

    <button @onclick="Increment2">Click me the count is @count</button>
</div>

@code {
    int count = 0;

    void Increment2()
    {
        count++;
    }
}
