.status-bar-safe-area {
    display: flex;
    position: sticky;
    top: 0;
    height: env(safe-area-inset-top, 0px);
    background-color: var(--maui-status-bar-safe-area-background, transparent);
    width: 100%;
    z-index: 1;
}

.flex-column, .navbar-brand {
    padding-left: env(safe-area-inset-left, 0px);
}
