# Tizen
/System.Maui.ControlGallery.Tizen/ @rookiejava
/Stubs/System.Maui.Platform.Tizen/ @rookiejava
/System.Maui.Platform.Tizen/ @rookiejava
/System.Maui.Maps.Tizen/ @rookiejava
/EmbeddingTestBeds/Embedding.Tizen/ @rookiejava
/PagesGallery/PagesGallery.Tizen/ @rookiejava
/System.Maui.Core/PlatformConfiguration/TizenSpecific @rookiejava

# GTK
/System.Maui.ControlGallery.GTK/ @jsuarezruiz
/Stubs/System.Maui.Platform.GTK/ @jsuarezruiz
/System.Maui.Platform.GTK/ @jsuarezruiz
/System.Maui.Maps.GTK/ @jsuarezruiz
/EmbeddingTestBeds/Embedding.GTK/ @jsuarezruiz
/PagesGallery/PagesGallery.GTK/ @jsuarezruiz
/System.Maui.Core/PlatformConfiguration/GTKSpecific @jsuarezruiz

# WPF
/System.Maui.ControlGallery.WPF/ @mohachouch
/Stubs/System.Maui.Platform.WPF/ @mohachouch
/System.Maui.Platform.WPF/ @mohachouch
/System.Maui.Maps.WPF/ @mohachouch
/EmbeddingTestBeds/Embedding.WPF/ @mohachouch
/PagesGallery/PagesGallery.WPF/ @mohachouch
/System.Maui.Core/PlatformConfiguration/WPFSpecific @mohachouch

# macOS
/System.Maui.ControlGallery.macOS/ @rmarinho
/Stubs/System.Maui.Platform.macOS/ @rmarinho
/System.Maui.Platform.macOS/ @rmarinho
/System.Maui.Maps.macOS/ @rmarinho
/EmbeddingTestBeds/Embedding.macOS/ @rmarinho
/PagesGallery/PagesGallery.macOS/ @rmarinho
/System.Maui.Core/PlatformConfiguration/macOSSpecific @rmarinho

# XAML
/System.Maui.Xaml/ @StephaneDelcroix
/System.Maui.Build.Tasks/ @StephaneDelcroix

# Core
/System.Maui.Core/ @StephaneDelcroix
