bin
obj
classic_bin
classic_obj
*.dll
*.mdb
*.exe
*.log
*.userprefs
*.suo
_docs.xml
UpgradeLog*
docs/*.xml
.nuspec/*.nupkg
*UpgradeReport*
*.user
*.DS_Store
*.ide
.vs
*.designer.cs
*project.lock.json
!*ControlResources*.designer.cs
!*Resources.Designer.cs
!Xamarin.Forms.VSTemplate/**/*.designer.cs
!NuGet.exe
*test-results*
*/PerfLogs/*
*.sap
/packages
!.xamarin-component/**
*.xam
Components/
!GooglePlayServices/**
.irb-history
screenshot_*
!Xamarin.Forms.Addin/libs/**
!Xamarin.Forms.Addin/Packages/Xamarin.Forms.*.nupkg
*.remove
*/.metadata/*
AndroidNative/FormsViewGroup/gen/com/xamarin/formsviewgroup/R.java
AndroidNative/FormsViewGroup/gen/com/xamarin/formsviewgroup/BuildConfig.java
*.psess
TestResults/
Xamarin.Forms.UITest.Validator/UITestCoverage/index.html
!Xamarin.Forms.UITest.TestCloud/test-cloud.exe
Xamarin.Forms.ControlGallery.Windows/AppPackages/
Xamarin.Forms.ControlGallery.WindowsPhone/AppPackages/
Xamarin.Forms.ControlGallery.WindowsUniversal/AppPackages/
Xamarin.Forms.ControlGallery.WindowsUniversal/BundleArtifacts/
Xamarin.Forms.Controls/secrets.txt
Xamarin.Forms.Controls/controlgallery.config
Xamarin.Forms.ControlGallery.Android/Properties/MapsKey.cs
*.tss
*.bak
AndroidNative/local.properties
AndroidNative/FormsViewGroup/build/
AndroidNative/build/
AndroidNative/.gradle/
AndroidNative/gradlew
AndroidNative/gradlew.bat
!EmbeddingTestBeds/Embedding.iOS/*.designer.cs
