bin
obj
classic_bin
classic_obj
*.dll
*.mdb
*.exe
*.log
*.userprefs
*.suo
_docs.xml
UpgradeLog*
docs/*.xml
.nuspec/*.nupkg
*UpgradeReport*
*.user
*.DS_Store
*.ide
.vs
*.designer.cs
*project.lock.json
!*ControlResources*.designer.cs
!*Resources.Designer.cs
!System.Maui.VSTemplate/**/*.designer.cs
!NuGet.exe
*test-results*
*/PerfLogs/*
*.sap
/packages
!.xamarin-component/**
*.xam
Components/
!GooglePlayServices/**
.irb-history
screenshot_*
!System.Maui.Addin/libs/**
!System.Maui.Addin/Packages/System.Maui.*.nupkg
*.remove
*/.metadata/*
AndroidNative/FormsViewGroup/gen/com/xamarin/formsviewgroup/R.java
AndroidNative/FormsViewGroup/gen/com/xamarin/formsviewgroup/BuildConfig.java
*.psess
TestResults/
System.Maui.UITest.Validator/UITestCoverage/index.html
!System.Maui.UITest.TestCloud/test-cloud.exe
System.Maui.ControlGallery.Windows/AppPackages/
System.Maui.ControlGallery.WindowsPhone/AppPackages/
System.Maui.ControlGallery.WindowsUniversal/AppPackages/
System.Maui.ControlGallery.WindowsUniversal/BundleArtifacts/
System.Maui.Controls/secrets.txt
System.Maui.Controls/controlgallery.config
System.Maui.ControlGallery.Android/Properties/MapsKey.cs
*.tss
*.bak
AndroidNative/local.properties
AndroidNative/FormsViewGroup/build/
AndroidNative/build/
AndroidNative/.gradle/
AndroidNative/gradlew
AndroidNative/gradlew.bat
!EmbeddingTestBeds/Embedding.iOS/*.designer.cs
*.nupkg
*.pdb
# temporary vim files
*.swp
tools/
!tools/mdoc/**/*
caketools/
*.binlog
.ionide/**
/.nuspec
.XamarinFormsVersionFile.txt
.idea
Visual Studio 2019/**
build/packages
