<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Define the package sources: all mirrors or internal feeds. -->
  <!-- `clear` ensures no additional sources are inherited from another config file. -->
  <packageSources>
    <clear />
    <!-- <add key="local" value="artifacts" /> -->
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" protocolVersion="3" />
    <add key="dotnet-eng" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" protocolVersion="3" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" protocolVersion="3" />
    <add key="benchmark-dotnet-prerelease" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/benchmark-dotnet-prerelease/nuget/v3/index.json" />
  </packageSources>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <disabledPackageSources />

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- Some packages will restore from different locations, but most will be from `dotnet-public`. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <!-- <packageSource key="dotnet-tools">
    </packageSource> -->
    <packageSource key="dotnet-eng">
      <package pattern="microsoft.dotnet.xharness.*" />
    </packageSource>
    <packageSource key="dotnet-public">
      <package pattern="*" />
    </packageSource>
    <!-- <packageSource key="benchmark-dotnet-prerelease">
    </packageSource> -->
  </packageSourceMapping>

</configuration>
