<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Xamarin.Essentials" Description="Code analysis rules for Xamarin.Essentials." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA0002" Action="Warning" />
    <Rule Id="SA1000" Action="Warning" />
    <Rule Id="SA1001" Action="Warning" />
    <Rule Id="SA1002" Action="Warning" />
    <Rule Id="SA1003" Action="Warning" />
    <Rule Id="SA1004" Action="Warning" />
    <Rule Id="SA1005" Action="Warning" />
    <Rule Id="SA1006" Action="Warning" />
    <Rule Id="SA1007" Action="Warning" />
    <Rule Id="SA1008" Action="Warning" />
    <Rule Id="SA1009" Action="Warning" />
    <Rule Id="SA1010" Action="Warning" />
    <Rule Id="SA1011" Action="Warning" />
    <Rule Id="SA1012" Action="Warning" />
    <Rule Id="SA1013" Action="Warning" />
    <Rule Id="SA1014" Action="Warning" />
    <Rule Id="SA1015" Action="Warning" />
    <Rule Id="SA1016" Action="Warning" />
    <Rule Id="SA1017" Action="Warning" />
    <Rule Id="SA1018" Action="Warning" />
    <Rule Id="SA1019" Action="Warning" />
    <Rule Id="SA1020" Action="Warning" />
    <Rule Id="SA1021" Action="Warning" />
    <Rule Id="SA1022" Action="Warning" />
    <Rule Id="SA1023" Action="Warning" />
    <Rule Id="SA1024" Action="Warning" />
    <Rule Id="SA1025" Action="Warning" />
    <Rule Id="SA1026" Action="Warning" />
    <Rule Id="SA1027" Action="Warning" />
    <Rule Id="SA1028" Action="Warning" />
    <Rule Id="SA1100" Action="Warning" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="Warning" />
    <Rule Id="SA1103" Action="Warning" />
    <Rule Id="SA1104" Action="Warning" />
    <Rule Id="SA1105" Action="Warning" />
    <Rule Id="SA1106" Action="Warning" />
    <Rule Id="SA1107" Action="Warning" />
    <Rule Id="SA1108" Action="Warning" />
    <Rule Id="SA1109" Action="Warning" />
    <Rule Id="SA1110" Action="Warning" />
    <Rule Id="SA1111" Action="Warning" />
    <Rule Id="SA1112" Action="Warning" />
    <Rule Id="SA1113" Action="Warning" />
    <Rule Id="SA1114" Action="Warning" />
    <Rule Id="SA1115" Action="Warning" />
    <Rule Id="SA1116" Action="Warning" />
    <Rule Id="SA1117" Action="Warning" />
    <Rule Id="SA1118" Action="Warning" />
    <Rule Id="SA1119" Action="Warning" />
    <Rule Id="SA1120" Action="Warning" />
    <Rule Id="SA1121" Action="Warning" />
    <Rule Id="SA1122" Action="Warning" />
    <Rule Id="SA1123" Action="Warning" />
    <Rule Id="SA1124" Action="Warning" />
    <Rule Id="SA1125" Action="Warning" />
    <Rule Id="SA1126" Action="Warning" />
    <Rule Id="SA1127" Action="Warning" />
    <Rule Id="SA1128" Action="Warning" />
    <Rule Id="SA1129" Action="Warning" />
    <Rule Id="SA1130" Action="Warning" />
    <Rule Id="SA1131" Action="Warning" />
    <Rule Id="SA1132" Action="Warning" />
    <Rule Id="SA1133" Action="Warning" />
    <Rule Id="SA1134" Action="Warning" />
    <Rule Id="SA1135" Action="Warning" />
    <Rule Id="SA1136" Action="Warning" />
    <Rule Id="SA1137" Action="Warning" />
    <Rule Id="SA1139" Action="Warning" />
    <Rule Id="SA1200" Action="Warning" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="Warning" />
    <Rule Id="SA1204" Action="Warning" />
    <Rule Id="SA1205" Action="Warning" />
    <Rule Id="SA1206" Action="Warning" />
    <Rule Id="SA1207" Action="Warning" />
    <Rule Id="SA1208" Action="Warning" />
    <Rule Id="SA1209" Action="Warning" />
    <Rule Id="SA1210" Action="Warning" />
    <Rule Id="SA1211" Action="Warning" />
    <Rule Id="SA1212" Action="Warning" />
    <Rule Id="SA1213" Action="Warning" />
    <Rule Id="SA1214" Action="Warning" />
    <Rule Id="SA1215" Action="Warning" />
    <Rule Id="SA1216" Action="Warning" />
    <Rule Id="SA1217" Action="Warning" />
    <Rule Id="SA1300" Action="Warning" />
    <Rule Id="SA1301" Action="Warning" />
    <Rule Id="SA1302" Action="Warning" />
    <Rule Id="SA1303" Action="None" />
    <Rule Id="SA1304" Action="Warning" />
    <Rule Id="SA1305" Action="None" />
    <Rule Id="SA1306" Action="Warning" />
    <Rule Id="SA1307" Action="Warning" />
    <Rule Id="SA1308" Action="Warning" />
    <Rule Id="SA1309" Action="Warning" />
    <Rule Id="SA1310" Action="Warning" />
    <Rule Id="SA1311" Action="None" />
    <Rule Id="SA1312" Action="Warning" />
    <Rule Id="SA1313" Action="Warning" />
    <Rule Id="SA1314" Action="Warning" />
    <Rule Id="SA1400" Action="None" />
    <Rule Id="SA1401" Action="Warning" />
    <Rule Id="SA1402" Action="None" />
    <Rule Id="SA1403" Action="Warning" />
    <Rule Id="SA1404" Action="Warning" />
    <Rule Id="SA1405" Action="Warning" />
    <Rule Id="SA1406" Action="Warning" />
    <Rule Id="SA1407" Action="Warning" />
    <Rule Id="SA1408" Action="Warning" />
    <Rule Id="SA1409" Action="Warning" />
    <Rule Id="SA1410" Action="Warning" />
    <Rule Id="SA1411" Action="Warning" />
    <Rule Id="SA1412" Action="Warning" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1500" Action="Warning" />
    <Rule Id="SA1501" Action="Warning" />
    <Rule Id="SA1502" Action="Warning" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1504" Action="Warning" />
    <Rule Id="SA1505" Action="Warning" />
    <Rule Id="SA1506" Action="Warning" />
    <Rule Id="SA1507" Action="Warning" />
    <Rule Id="SA1508" Action="Warning" />
    <Rule Id="SA1509" Action="Warning" />
    <Rule Id="SA1510" Action="Warning" />
    <Rule Id="SA1511" Action="Warning" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="Warning" />
    <Rule Id="SA1515" Action="Warning" />
    <Rule Id="SA1516" Action="Warning" />
    <Rule Id="SA1517" Action="Warning" />
    <Rule Id="SA1518" Action="Warning" />
    <Rule Id="SA1519" Action="Warning" />
    <Rule Id="SA1520" Action="Warning" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1603" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="Warning" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1628" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1630" Action="None" />
    <Rule Id="SA1631" Action="None" />
    <Rule Id="SA1632" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1639" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1644" Action="None" />
    <Rule Id="SA1645" Action="None" />
    <Rule Id="SA1646" Action="None" />
    <Rule Id="SA1647" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1650" Action="None" />
    <Rule Id="SA1651" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SX1309" Action="None" />
    <Rule Id="SX1309S" Action="None" />
    <Rule Id="xUnit1026" Action="None" />
    <!--
      =================================================================================================================
      Rules that are configured in the stylecop.json file
      https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/Configuration.md
      =================================================================================================================
      SA1200: Using directives must be placed correctly.
              settings.orderingRules.systemUsingDirectivesFirst
              settings.orderingRules.usingDirectivesPlacement
      =================================================================================================================
    -->
  </Rules>
</RuleSet>