<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.5.12" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.5.12" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.5.12" targetFramework="net45" />
  <package id="Xam.Plugin.DeviceInfo" version="3.0.2" targetFramework="net47" />
  <package id="Xamarin.UITest" version="2.2.1.1670-dev" targetFramework="net45" />
  <package id="Xamarin.UITest.Desktop" version="0.0.7" targetFramework="net45" />
</packages>