<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="androidx-net10" value="https://pkgs.dev.azure.com/xamarin/public/_packaging/android-libraries-20250520-1130/nuget/v3/index.json" />
    <add key="guardian" value="https://securitytools.pkgs.visualstudio.com/_packaging/Guardian/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="guardian">
      <package pattern="microsoft.guardian.cli" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
