<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net45" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Selenium.Support" version="3.0.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net45" />
  <package id="Xam.Plugin.DeviceInfo" version="3.0.2" targetFramework="net47" />
  <package id="Xamarin.UITest" version="2.2.1.1670-dev" targetFramework="net45" />
</packages>