# Enforce performance code analyzers
# We can gradually add to this list until we're ready to activate enforcement
# for the entire project
[{Flex.cs,PlatformTouchGraphicsView.cs}]
dotnet_analyzer_diagnostic.category-Performance.severity = warning
