# Enforce performance code analyzers
# We can gradually add to this list until we're ready to activate enforcement
# for the entire project
# To run the performance CA on all files, replace the list of files with [*.cs]
[{Flex.cs,PlatformTouchGraphicsView.cs,MauiScrollView.cs,MauiSwipeView.cs,MauiWebViewClient.cs}]
dotnet_analyzer_diagnostic.category-Performance.severity = warning

[*.cs]
dotnet_diagnostic.CA1805.severity = error
