@page "/"
@inject AppState AppState
@using WebViewAppShared

<h3>Hello, world!</h3>

<p>The current count is <strong>@AppState.Counter</strong></p>

<button @onclick="IncrementCount">Increment</button>
<button @onclick="TriggerException">Throw</button>

<p>This is a shared component</p>
<SharedComponent />

@code {
    void IncrementCount()
    {
        AppState.Counter++;
    }

    void TriggerException()
    {
        throw new InvalidTimeZoneException("This is an exception from an event handler");
    }
}

<button @onclick="ThrowException">Throw Exception</button>
<button @onclick="ThrowExceptionUnawaited">Un-awaited task throws</button>

@code {
    void ThrowException()
    {
        throw new Exception("This is some unhandled exception.");
    }

    void ThrowExceptionUnawaited()
    {
        _ = ThrowExceptionAsync();
    }

    async Task ThrowExceptionAsync()
    {
        await Task.Delay(10);
        throw new Exception("This is some ***async*** exception.");
    }
}