@page "/other/{name?}"
@inject NavigationManager NavigationManager

<div>
    Here is another page. Looks like navigation works.

    @if (!string.IsNullOrEmpty(Name))
    {
        <div>I even found your name: @Name</div>
    }

    <button @onclick="BackToHome">Navigate back programmatically</button>
</div>

<div>
    <input type="text" @bind-value="@textValue" />
    <textarea cols=24 rows=10 />
</div>

<div>
    The text is: @textValue
</div>

@code {
    [Parameter] public string Name { get; set; }

    string textValue;

    void BackToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
