html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    padding: 50px;
}

#totalStats {
	width: 1000px;
	padding: 20px;
}

#totalStats #coverage {
	float: left;
	font-size:225%;
	padding: 10px;
}

.totalStatsLarge {
	padding : 15px 10px;
	text-align: start;
	width: 200px;
	float: right;
	color: #808080;
	font-size: 18px;
}

.totalStatsSmall {
	padding : 5px 10px;
	text-align: start;
	width: 200px;
	float: right;
	color: #808080;
	font-size: 18px;
}

#totalStats .coverageDetail {
	float: left;
	font-size:150%;
	padding: 20px;
}

.cell {
	width: 200px;
	border: 1px solid green;
	float: left;
}

.test {
    color: blue;
}

.type {
	clear: both;
	width: 1000px;
	overflow: hidden;
	border: 1px solid #bbb;
	margin: 5px;
}

.stats {
	height: 37px;
	border-bottom: 1px solid #ddd;
}

.stats h2 {
	cursor: pointer;
	font-size: 115%;
	float: left;
	width: 300px;	
	padding: 7px 0px 10px 10px;
}

.stats h3 {
	float: left;
	width: 200px;	
	padding: 11px 0px 10px 0px;
}

.platform {
	width: 500px;
	padding: 20px 0px 20px 10px;
	margin: 0px 0px 0px 300px;
	
}

.platform .ios {
	font-size: 18px;
	width: 200px;
	float: left;
}

.platform .android {
	font-size: 18px;
}

.type .testsForType, .type .members, .type .platform {
	display: none;
}

.type.expanded .testsForType, .type.expanded .members, .type.expanded .platform {
	display: block;
}

.testsForType {
	padding: 0px 0px 20px 20px;
}

.members {
	padding: 0px 0px 20px 20px;
}

.member {
	clear: both;
	padding: 3px;
}

.testedMember {
	font-size: 100%;
	color: green;
}

.unTestedMember {
	height: 28px;
	font-size: 100%;
	color: red;
}

.test {
	color: blue;
	text-decoration: underline;
}

.platformTestContainer {
	width: 400px;
	margin-left: 290px;
}

.iosColumn {
	float: left;
	width: 180px;
	margin-right: 20px;
	overflow: hidden;
}

.androidColumn {
	float: left;
	width: 180px;
	margin-right: 20px;
	overflow: hidden;
}

.progressBar {
	float: right;
	background-color: #ee8888;
	width: 290px;
	height: 37px;
}

.testedBox {
	background-color: #88cc88;
	height: 37px;
}