^ContentPage {
    background-color: #11313F;
}

.MainTab, .MainTabSelected {
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
    border-width: 0;
}

.MainTabSelected {
    color: #34686e;
}

.SelectedIndicator {
    height: 3;
    background-color: #D5441B;
}

ListView {
    background-color: #11313F;
}

.AddButton {
    background-color: transparent;
    width: 60;
    height: 60;
    border: 0;
}
