@page "/counter"
@*#if (!InteractiveAtRoot)
@*#if (UseServer && UseWebAssembly)
@rendermode InteractiveAuto
##elseif (UseWebAssembly)
@rendermode InteractiveWebAssembly
#else
@rendermode InteractiveServer
#endif
##endif*@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
