@page "/"
@*#if (SampleContent)
@using MauiApp._1.Shared.Services
@inject IFormFactor FormFactor
##endif*@

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@*#if (SampleContent)
Welcome to your new app running on <em>@factor</em> using <em>@platform</em>.

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}
##else
Welcome to your new app.
##endif*@
