# This file is the top-most EditorConfig file
root = true

# All Files

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_style = tab
indent_size = 4
