<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet6" value="https://aka.ms/dotnet6/nuget/index.json" />
    <add key="skiasharp" value="https://aka.ms/skiasharp-eap/index.json" />
    <add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources />
</configuration>
