<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="androidx-net10" value="https://pkgs.dev.azure.com/xamarin/public/_packaging/android-libraries-20250519-1600/nuget/v3/index.json" />
    <add key="dotnet-core-internal-tooling" value="https://pkgs.dev.azure.com/devdiv/_packaging/dotnet-core-internal-tooling/nuget/v3/index.json" />
  </packageSources>
</configuration>
