name: Inclusive Heat Sensor
on:
  issues:
    types: [opened, reopened]
  issue_comment:
    types: [created, edited]
  pull_request_review_comment:
    types: [created, edited]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  detect-heat:
    if: github.repository_owner == 'dotnet'
    uses: jonathanpeppers/inclusive-heat-sensor/.github/workflows/comments.yml@v0.1.2
    secrets: inherit
    with:
      minimizeComment: true
      offensiveThreshold: 9
      angerThreshold: 9
