name: Automatic Rebase

on:
  issue_comment:
    types: [created]

permissions:
  pull-requests: write
  contents: write

jobs:
  rebase:
    name: Rebase
    runs-on: ubuntu-latest
    if: >-
      github.repository_owner == 'dotnet' &&
      github.event.issue.pull_request != '' && 
      (
        startsWith(github.event.comment.body, '/rebase') || 
        startsWith(github.event.comment.body, '/autosquash')
      )
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0 # otherwise, you will fail to push refs to dest repo
      - name: Automatic Rebase
        uses: cirrus-actions/rebase@1.7
        with:
          autosquash: >-
            ${{ 
              startsWith(github.event.comment.body, '/autosquash') ||
              startsWith(github.event.comment.body, '/rebase-autosquash')
            }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
