name: Documentation Checks

on:
    push:
        branches:
            - main
        paths:
            # This ensures the check will only be run when something changes in the docs content
            - "docs/**/*"
    pull_request:
        branches:
            - main
        paths:
            - "docs/**/*"
jobs:
    spellcheck:
        name: "Docs: Spellcheck"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              name: Check out the code
            - uses: actions/setup-node@v4
              name: Setup node
              with:
                  node-version: "18"
            - run: npm install -g cspell
              name: Install cSpell
            - run: cspell --config ./cSpell.json "docs/**/*.md" --no-progress
              name: Run cSpell
